main, footer {
    padding-top: 30px;
    padding-left: 350px;
  }

  @media only screen and (max-width : 992px) {
    main, footer {
      padding-left: 0;
    }
  }

    .oa
    {
        background-image: url('../img/BG.jpg');
        background-repeat: repeat;
    }

    .ico {
        margin: 0 auto 0 30px;
    }

   .search-field {
        position: relative;
        display: inline-flex;
        width: -webkit-calc(100% - 350px);
        width: -moz-calc(100% - 350px);
        width: calc(65% - 350px);
        margin: 0 auto 0 250px !important;
        padding: 12px 0;
        -webkit-transition: .3s ease all;
        -moz-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }

  @media only screen and (max-width : 768px) {
    .search-field {
      display: none;
    }
  }

  .input-field input[type=search]:not(.browser-default) {
    background: #212121;
  }
  
  .input-field input[type=search]:focus:not(.browser-default) {
    background: #424242;
  }

  .sidenav.sidenav-fixed {
    margin-top: 64px;
}