.Aki
{
    background-image: url('../img/BG.jpg');
    background-repeat: repeat;
}

#LoginStyle
{
    display: flex;
    height: 87vh;
    justify-content: center;
    align-items: center;
}

#LoginStyle .card-panel.border-radius-6.Card
{
    margin-left: 0 !important;
    width: 500px;
}

.ico {
    margin: 0 auto 0 30px;
}