html{
    background-color: #E4002B;
}
.nav-extended{
    background-color: #0E1C36;
  }
  #LoginCard{
      margin-top: 6rem;
  }
  #DividerDiv{
      margin-top: 2rem;
  }
  #RegistrerPart{
      margin-top: 2rem;
  }