header, main, footer {
    padding-left: 300px;
    }
    
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    
    }
#searchbarsugestion{
    margin-top: 10px;
}
#TitleTable{
    margin-top: 2rem;
}
#ClasificationsTable{
    position: relative;
    margin-top: 2rem;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: black !important;
}
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid black !important;
box-shadow: 0 1px 0 0 black !important;
}

