header, main, footer {
    padding-left: 300px;
    }
    
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    
    }
    
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #64A7EA !important;
    }
    .input-field input[type=number]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #64A7EA !important;
    }
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #64A7EA !important;
    box-shadow: 0 1px 0 0 #64A7EA !important;
    }
    .input-field input[type=number]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #64A7EA !important;
    box-shadow: 0 1px 0 0 #64A7EA !important;
    }
 

    #IconBookmark
    {
        position: relative;
        top:1.5px;
    }
    #IconMoney
    {
        position: relative;
        top:1.5px;
    }