header, main, footer {
padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }

}
#OptionsDropDown{
    position: relative;
    margin-right: 1rem;
}
#SearchBar{
    position: relative;
    right:1.5rem;    
    margin-top: 2rem;
}
#OptionsIcons{
    margin-left: 10rem;
}
